body {
    font-size: smaller;
    font-family: MontserratLight;
    background-color: black;
    color: white;
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#title {
    display: flex;
    flex-direction: column;
    line-height: 1px;
}

li {
    display: inline-block;
    margin: 20px;
    font-size: larger;
    font-weight: bold;
}

.lista-coluna li {
    display: block;
    margin: 10px 0;
    list-style-type: disc;   
}

h1 {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 23px;
}

h2 {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 25px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    word-break: normal;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    transition: 0.3s all;
    background-color: rebeccapurple;
    padding: 10px;
    border: 2px solid rebeccapurple;
    border-radius: 15px;
}

.texto {
    max-width: 700px;
    margin-right: 10px;
}

.topbottoms {
    margin-top: -20px;
}
hr {
    border: none;
    border-top: 2px solid white;
    margin: 30px 0;
    width: 50%;
}

