@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.container-login-cadastro {
    display: flex;
    width: 100%;
    height: 100vh;
}

.secao-imagem {
    flex: 1;
    background-color: #55734F;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.secao-imagem img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: 0;
}

.texto-secao-login {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: right;
    line-height: 1.1;
}

.secao-formulario {
    flex: 1.5;
    background-color: #263B2C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.link-criar-conta {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.link-criar-conta:hover {
    color: #ccc;
}

.caixa-login-cadastro {
    max-width: 350px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.grupo-entrada {
    margin-bottom: 18px;
    text-align: left;
}

.grupo-entrada label {
    display: none;
}

.grupo-entrada input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 20px;
    height: 55px;
    border: 1px solid #fff;
}

.grupo-entrada input:focus {
    border: 1px solid #98fb98;
    outline: none;
    box-shadow: 0 0 5px rgba(152, 251, 152, 0.5);
}

.grupo-entrada input::placeholder {
    color: rgb(246, 246, 182);
    font-size: 20px;
}

.botao-entrar-criar {
    background-color: #ccc;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 30px;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.botao-entrar-criar:hover {
    background-color: #fff;
    color: #333;
}

.link-esqueceu-senha {
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s, text-decoration 0.3s;
}

.link-esqueceu-senha:hover {
    color: #ccc;
    text-decoration: underline;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


@media (max-width: 768px) {
    .container-login-cadastro {
        flex-direction: column;
    }

    .secao-imagem {
        height: 200px;
    }

    .texto-secao-login {
        position: static;
        font-size: 2em;
        text-align: center;
    }

    .secao-formulario {
        padding: 30px 20px;
    }

    .link-criar-conta {
        position: static;
        text-align: right;
        margin-bottom: 20px;
    }

    .botao-entrar-criar {
        font-size: 25px;
        height: 50px;
    }

    .grupo-entrada input {
        font-size: 18px;
        height: 50px;
    }

    .grupo-entrada input::placeholder {
        font-size: 18px;
    }

    .link-esqueceu-senha {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .secao-imagem {
        height: 150px;
    }

    .texto-secao-login {
        font-size: 1.8em;
    }

    .secao-formulario {
        padding: 20px;
    }

    .botao-entrar-criar {
        font-size: 0.9em;
        padding: 8px 20px;
    }

    .grupo-entrada input {
        font-size: 16px;
        height: 45px;
    }

    .grupo-entrada input::placeholder {
        font-size: 16px;
    }

    .link-esqueceu-senha {
        font-size: 14px;
    }
}